body{
    text-align: justify;
    background-color:#cdd1d1 ;
    font-family:  sans-serif;
}
.container{
    background-color:#1749a1 ;
    padding: 3px;
    color: #cdd1d1;
    border-radius: 10px;

}
.logo{
    height: 50px;
    
     
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
a{
    font-size: 3vw;
    font-style: normal;
    text-decoration: none;
    color: #06ADEE;

}
a:hover{
    color: #1B2D5A;
}
a:active{
    color: khaki;
}
.images{
    display: flex;
    justify-content: space-betwee;
    margin: 10px;
    flex-wrap:wrap;
     
     
}
.images>div{
    display: flex;
    flex-direction: column;
    width: 17%;
    margin:5px;
}
.images>div>img{
width: 100%;
 
transition: transform .2s;
}
.images>div>img:hover{
    transform: scle(1.05);
}
.footer{
    margin-top:10px ;
    height: 370px;
    background-color: #06ADEE;
    bottom: 0;
    color: white;
    text-align: center;
}

.links{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.display{
    
    color: white;
    font-size: 30px;
     background-color: #3a598f;
    background-position-x: cener;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:50px;
     background-image: url(images/wizi2.png);
     background-repeat: no-repeat;
     background-size: cover;
 /* background-blend-mode: multiply; */
 animation: change 30s infinite step-end;
     
}
.display>div{
    width:60%;
}
.display>div>p{
    padding:5px;
  
}

.shbtn{
    width: 8em;
    background-color: #1749a1;
    padding: 4px;
    margin: 2px;
    margin-top: 6px;
    border: none;
    height: 2em;
    color: white;
    font-family:   sans-serif;


}
.contact{
    display: flex;
    justify-content: space-around;
}
.contact>div{
    text-align: center;
}
.contact-h1{
    margin: auto;
    width: 300px;
    padding: 30px;
    text-align: center;
}
.fa-solid, .fa-brands{
height: 100px;
font-size: 100px;
color: #1749A1;
}
 .fa-solid:hover, .fa-brands:hover{
    color: #3b5998   ;     
 }
 .title{
    border-left:solid #06ADEE 3px;
    height: 40px;
    padding-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
     
}

.partners{
    padding:40px;
    text-align:center; 
    background-image: url('images/wizi2.png');
    color:white;
}
.partners-links{
    display:flex;
    justify-content:space-between;
  flex-wrap: nowrap;
  overflow-x: hidden;
  transition: transform 0.5s ease-in-out;
}
.partners-logo{
    height:100px;
}


.card{
    border-radius:10px;
    display:flex;
    justify-content:space-around;
    background-color:white;
    padding:10px;
}
.card>img{

    width:100px;

}
.show{
    padding:5px;
    background-color:#06ADEE;
    border:none;
    width:40%;
    margin:3px;
    
} 
.dots{
    font-size:1.6em;
}
.desc{
text-align:start;
}
.more{
    display:none;
}
/* @keyframes change{
    0%
    {
        background-image: url(images/bkgrd.jpg);
    }
    20%
    {
        background-image: url(images/bckgrd2.jpg);
    }
    40%
    {
        background-image: url(images/bckgrd3.jpg);
    }
    60%
    {
        background-image: url(images/lok.jpg);
    }
    80%
    {
        background-image: url(images/bkgrd.jpg);
    }
    100%
    {
        background-image: url(images/bckgrd2.jpg);
    }
} */

 @media only screen and (max-width: 600px) {
    .display{
        font-size: 1em;
        padding-bottom:30px;
        padding-top:30px;
    }
.display>div{
    width:90%;
}
a{
    font-size: 4.5vw;
}
.links{
    width: 60%;
}
.partners-links{
    flex-direction:column;
    justify-content:space-around;
    
}
.partners-logo{
    width:70%;
    height:100%;
    margin:5px;
}
.images{
     justify-content:space-around;
     flex-direction:column;
     
}
.images>div{
    width: 100%;
}
.images>div>img{
    width: 100%;
    border-radius: 0;
}
 .contact{
    flex-direction: column;

 }
 .footer{
    height: 870px;
 }
 .visit{
    margin-bottom: 2px;
    padding: 10px;
    background-color: #1B2D5A;
 }
 }