body{
    text-align: justify;
    background-color:#cdd1d1 ;
    font-family:  sans-serif;
}
.container{
    background-color:#1749a1 ;
    padding: 10px;
    color: #cdd1d1;
    border-radius: 10px;

}
.logo{
    height: 50px;
    
     
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
a{
    font-size: 3vw;
    font-style: normal;
    text-decoration: none;
    color: #06ADEE;

}
a:hover{
    color: #1B2D5A;
}
a:active{
    color: khaki;
}
.images{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
     
}
.images>div{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.images>div>img{
width: 100%;
 
transition: transform .2s;
}
.images>div>img:hover{
    transform: scle(1.05);
}
.footer{
    margin-top:10px ;
    height: 370px;
    background-color: #06ADEE;
    bottom: 0;
    color: white;
    text-align: center;
}

.links{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.display{
    padding-bottom: 300px;
     
}
.shbtn{
    width: 100%;
    background-color: #1749a1;
    padding: 4px;
    border-radius: 10px;
    margin: 2px;
    border: none;
    height: 2em;
    color: white;
    font-family:   sans-serif;


}
.contact{
    display: flex;
    justify-content: space-around;
}
.contact>div{
    text-align: center;
}
.contact-h1{
    margin: auto;
    width: 300px;
    padding: 30px;
    text-align: center;
}
.fa-solid, .fa-brands{
height: 100px;
font-size: 100px;
color: #1749A1;
}
 .fa-solid:hover, .fa-brands:hover{
    color: #3b5998   ;     
 }
 .title{
    border-left:solid #06ADEE 3px;
    height: 40px;
    padding-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}




 @media only screen and (max-width: 600px) {
a{
    font-size: 4vw;
}
.links{
    width: 50%;
}
.images{
    flex-direction: column;
 
}
.images>div{
    width: 100%;
}
.images>div>img{
    width: 100%;
    border-radius: 0;
}
 .contact{
    flex-direction: column;

 }
 .footer{
    height: 750px;
 }
 .visit{
    margin-bottom: 2px;
    padding: 10px;
    background-color: #1B2D5A;
 }
 }